{% extends 'AcmeUserBundle::layout.html.twig' %}
     
    {% block message %} 
        {% if error is defined %}
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                 <div>{{ error.message }}</div>
            </div>
        {% endif %}   
        
         {% if success is defined %}
            <div class="alert alert-dismissable alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                 <div>{{ success.message }}</div>
            </div>
        {% endif %} 

    {% endblock message %}
    {% block content %}   
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">User Registration</h3>
                </div>
                <div class="panel-body">
                        <form class="form-horizontal" action="{{ path('register') }}" method="post">
                            <fieldset>
                                <div class="form-group">
                                  <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                                  <div class="col-lg-10">
                                        {{ form_widget(form.username, {'attr':{'class': 'form-control'}}) }}                                     
                                        {{ form_errors(form.username) }}  
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="email" class="col-lg-2 control-label">Email</label>
                                  <div class="col-lg-10">
                                        {{ form_widget(form.email, {'attr':{'class': 'form-control'}}) }}                                     
                                        {{ form_errors(form.email) }}  
                                  </div>
                                </div>    
                                <div class="form-group">
                                  <label for="password" class="col-lg-2 control-label">Password</label>
                                  <div class="col-lg-10">
                                         {{ form_widget(form.password.first, {'attr':{'class': 'form-control'}}) }}   
                                         {{ form_errors(form.password) }}  
                                  </div>
                                </div> 
                                <div class="form-group">
                                  <label for="password" class="col-lg-2 control-label">Re-Password</label>
                                  <div class="col-lg-10">
                                         {{ form_widget(form.password.second, {'attr':{'class': 'form-control'}}) }}                                     
                                         {{ form_errors(form.password) }}  
                                  </div>
                                </div>      
                                
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">                                      
                                      <button type="submit" class="btn btn-primary">Submit</button>
                                      <a href="{{path("login")}}"> {{"Login, if already registered" | trans }} </a>
                                    </div>
                                </div>    
                            </fieldset>
                            {{ form_rest(form) }}
                        </form>
                </div>
            </div>
        </div>            
    {% endblock content %}
